In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [33]:
from env import API_KEY

In [52]:
# Configure gmaps to use your google API key.
gmaps.configure(api_key=API_KEY)

In [56]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

   City_ID  ,City,  Country  ,Date ,Lat ,Lng,  Max
0  0,Avaru  a,CK,2  021-09-     17  NaN   NaN  NaN
1  1,Fukue  ,JP,20  21-09-1      7  NaN   NaN  NaN
2   2,Vila     NaN      NaN    NaN  NaN   NaN  NaN
3  3,Yello  wknife  ,CA,202  1-09-   17   NaN  NaN
4  4,Rikit  ea,PF,  2021-09    -17  NaN   NaN  NaN